.App {
  text-align: center;
  padding-top: 150px;
}

.collection-item{
  margin-bottom: 9px;
  background-color: aqua;
}

.collection{
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 9px;
  padding-bottom: 9px;
}

